<ng-container *ngIf="showHeader">
  <mat-toolbar class="header">
    <div class="nav-container">
      <div class="nav-left">
        <button mat-icon-button class="menu-button" [matMenuTriggerFor]="menu" *ngIf="isMobile">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="nav-links" [class.mobile-menu]="isMobile">
          <a mat-button routerLink="/dashboard" routerLinkActive="active">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </a>
          <!-- <a mat-button routerLink="/enquiries" routerLinkActive="active">
            <mat-icon>list_alt</mat-icon>
            <span>Enquiries</span>
          </a> -->
          <a mat-button routerLink="/contact" routerLinkActive="active">
            <mat-icon>contact_mail</mat-icon>
            <span>Contact</span>
          </a>
        </div>
      </div>

      <div class="nav-right">
        <button mat-button class="user-profile" [matMenuTriggerFor]="profileMenu">
          <mat-icon>account_circle</mat-icon>
          <span class="hide-on-mobile">Admin</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <!-- Mobile Menu -->
  <mat-menu #menu="matMenu" class="mobile-nav-menu">
    <a mat-menu-item routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
    <a mat-menu-item routerLink="/enquiries">
      <mat-icon>list_alt</mat-icon>
      <span>Enquiries</span>
    </a>
    <a mat-menu-item routerLink="/contact">
      <mat-icon>contact_mail</mat-icon>
      <span>Contact</span>
    </a>
  </mat-menu>

  <!-- Profile Menu -->
  <mat-menu #profileMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</ng-container>